@import '../../styles/mixins';

.welcome-box {
    @include box-shade;
    @include animation-moveInRight(1s);
    width: 60%;
    height: 65rem;
    margin: 5rem auto 0;
    border-radius: 1rem;

    .welcome-logo {
        margin: 0 auto;
        position: relative;
        height: 70%;
        opacity: .5;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        background-image: url("../../images/welcome.jpeg");
        background-size: cover;
        background-position: top;
        clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    }
}
