.welcome-box {
    width: 60%;
    height: 65rem;
    margin: 5rem auto 0;
    box-shadow: 0 2rem 2rem rgba(0, 0, 0, .25);
    animation: moveInRight 1s ease-out;
    border-radius: 1rem;

    .welcome-logo {
        margin: 0 auto;
        height: 70%;
        opacity: .5;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        background-image: url("../../images/welcome.jpeg");
        background-size: cover;
        background-position: top;
        position: relative;
        clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    }
}

@keyframes moveInRight {
    0% {
      transform: translateX(20rem);
      opacity: 0;
    }
    80% {
      transform: translateX(-1rem);
    }
    100% {
      opacity: 1;
      transform: translateX(0); }
}