@import '../styles/variables';
@import '../styles/mixins';

.error {
    text-transform: uppercase;
    margin: 7rem auto 0;
    text-align: center;
    h1 {
        font-size: 2rem;
        font-weight: 600;
    }

    &--code {
        color: $white-neon-text;
        font-size: 7rem;
        letter-spacing: 1rem;
        text-shadow: $neon-text-shadow;
            
    }

    &--notfound {
        color: $white-neon-text;
        font-size: 7rem;
        text-shadow: $neon-text-shadow;
    }

    a {
        text-decoration: none;
        color: $black;
        @include hover-changeColorWithTransition($red-brown, .3s);
    }
}