@import '../styles/mixins';

.nav-container {
    padding: 1.5rem 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    vertical-align: center;
    width: 100%;
    background-color: $red-brown;
    p {
        margin: auto 1rem;
        color: $black;
        a {
            color: inherit;
            text-decoration: none;
            @include hover-changeColorWithTransition($white, .3s);
        }
    }
    .nav-auth {
        top: 0;
        width: 20%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-right: 1rem;
    }
}
