@import '../../styles/mixins';

.auth-container {
    @include box-shade;
    @include animation-moveFromBottom(1s);
    margin: 2rem auto;
    padding: 3rem 3rem;
    border-radius: 10px;
    width: 50%;
    .auth-form {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 40rem;
        padding: 3rem 6rem;
        gap: 3rem;
    }
    .auth-links {
      text-align: center;
      margin: 0 1rem;
      a {
        margin: 0 1rem;
        text-decoration: none;
        color: $black;
        @include hover-changeColorWithTransition($red-brown, .3s);
      }
    }
}
