@import '../../styles/mixins';
@import '../../styles/variables';

.form-input {
    padding: 1.2rem 1.5rem;
    font-size: 1.6rem;
    border-radius: 1rem;
    border: $black solid .13rem;
    color: $black;
    &:focus, &:active {
        outline: none;
    }
    &--valid {
        @include input-focus-active($green, $green-box-shadow);
    }
    &--invalid {
        @include input-focus-active($red-brown, $red-box-shadow);
    }
}
